.body {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-18) var(--padding-0);
  gap: var(--Spacing-2);
  text-align: left;
  font-size: var(--Static-Title-Medium-Size);
  color: var(--color-gray-300);
  font-family: 'Inter', sans-serif;
}

.bodytext {
  align-self: stretch;
  position: relative;
  
  /* Set the weight to the 'Light' version you imported */
  font-weight: 300; 

  /* This is also key: give the thin font room to breathe */
  letter-spacing: 0.5px; 

  line-height: var(--Static-Title-Medium-Line-Height);
}

.bodytext + .bodytext {
  margin-top: var(--Spacing-2);
}

.projects {
  color: inherit;
}
.bodyProjects {
  text-decoration: underline;
}
